export ASKEN_USERNAME="..."
export ASKEN_PASSWORD="..."
export NATURE_OAUTH_TOKEN="..."
export NATURE_REMO_DEVICE_NAME="..."
export OPENWEATHER_API_KEY="..."
export OPENWEATHER_CITY="Tokyo, JP"
export SPEEDTEST_SERVER_IDS=14623
export TODOIST_API_KEY="..."
export WITHINGS_ACCESS_TOKEN="..."
export WITHINGS_CLIENT_ID="..."
export WITHINGS_CONSUMER_SECRET="..."
export WITHINGS_CREATED=2023-04-06T15:38:28.882158+00:00
export WITHINGS_EXPIRES_IN=10800
export WITHINGS_REFRESH_TOKEN="..."
export WITHINGS_TOKEN_TYPE=Bearer
export WITHINGS_TZ=Asia/Tokyo
export WITHINGS_USERID=1234567
