---

- name: Start node_exporter
  block:
    - name: Install Brew packages
      community.general.homebrew:
        name: node_exporter
        state: upgraded
      notify: Restart node_exporter service
