<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>${LA_DOMAIN}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/vlc</string>
        <string>-I</string>
        <string>dummy</sting>
        <string>--mms-caching</sting>
        <string>0</sting>
        <string>${STREAMLINK_HTTP_URL}</sting>
        <string>vlc://quit</sting>
        <string>--sout='#transcode{width=1920,height=1080,fps=30,vcodec=h264,vb=256,venc=x264{aud,profile=baseline,level=30,keyint=30,ref=1},acodec=mp3,ab=96}:std{access=livehttp{seglen=10,delsegs=true,numsegs=5,index=/Users/${USER}/life-dashboard/configs/html/stream/${STREAM_KEY}.m3u8,index-url=http://grafstation.local/stream/${STREAM_KEY}-########.ts},mux=ts{use-key-frames},dst=/Users/${USER}/life-dashboard/configs/html</sting>
    </array>
    <key>WorkingDirectory</key>
    <string>/tmp</string>
    <key>StandardOutPath</key>
    <string>/tmp/vlc.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vlc.err</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
