---

- name: Install core settings
  block:
    - name: Install core zsh settings
      ansible.builtin.import_role:
        name: legnoh.dotfiles.install_zsh_config

    - name: Set .zshenv for homebrew bins
      when: not ansible_check_mode
      ansible.builtin.template:
        src: .zshenv.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/.zshenv"
        mode: '0644'

    - name: Remove .zprofile
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.zprofile"
        state: absent

    - name: Create directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - "{{ ansible_facts['env']['HOME'] }}/grafstation"
        - "{{ ansible_facts['env']['HOME'] }}/Library/LaunchAgents"

    - name: Download close_notifications_applescript.js
      ansible.builtin.uri:
        url: |
          https://gist.githubusercontent.com/lancethomps/a5ac103f334b171f70ce2ff983220b4f/raw/578178c6729cb4f3a048c0b62b4e402a1112336b/close_notifications_applescript.js
        status_code: 200
        return_content: true
      retries: 720 # 720 * 5 seconds = 1hour (60*60/5)
      delay: 5 # Every 5 seconds
      register: close_notifications_script

    - name: Create JXA file
      when: not ansible_check_mode
      ansible.builtin.template:
        src: close_notifications.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/grafstation/close_notifications"
        mode: '0755'

    - name: Create launchd definition file
      when: not ansible_check_mode
      ansible.builtin.template:
        src: closenotifications.plist.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/Library/LaunchAgents/io.lkj.life.dashboard.closenotifications.plist"
        mode: '0644'

    - name: Start closenotifications daemon
      when: not ansible_check_mode
      community.general.launchd:
        name: io.lkj.life.dashboard.closenotifications
        state: reloaded
