---

- name: Start hap-nature-remo
  block:
    - name: Tap custom repos
      check_mode: false
      community.general.homebrew_tap:
        name: legnoh/etc

    - name: Install Brew packages
      when: not ansible_check_mode
      community.general.homebrew:
        name: legnoh/etc/hap-nature-remo
        state: upgraded

    - name: Create a config directory
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.hap-nature-remo"
        state: directory
        mode: '0755'

    - name: Copy config file
      ansible.builtin.template:
        src: config.yml.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/.hap-nature-remo/config.yml"
        mode: '0644'

    - name: Start Service
      when: not ansible_check_mode
      community.general.homebrew_services:
        name: legnoh/etc/hap-nature-remo
        state: restarted
