---

- name: Start logrotate
  block:
    - name: Install Brew packages
      community.general.homebrew:
        name: logrotate
        state: upgraded
      notify: Restart logrotate service

    - name: Create config directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /opt/homebrew/etc/logrotate.d
        - /opt/homebrew/var/lib # for logrotate.status file

    - name: Copy config files
      when: not ansible_check_mode
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/opt/homebrew/etc/logrotate.d/{{ item }}"
        mode: '0644'
      loop:
        - closenotifications.conf
        - ffmpeg.conf
        - grafana-apply.conf
        - streamlink.conf
      notify: Restart logrotate service
