---

- name: Start reminders-exporter
  block:
    - name: Tap custom repos
      check_mode: false
      community.general.homebrew_tap:
        name:
          - keith/formulae
          - legnoh/etc

    - name: Install Brew packages
      when: not ansible_check_mode
      community.general.homebrew:
        name:
          - keith/formulae/reminders-cli
          - legnoh/etc/reminders-exporter
        state: upgraded
      notify: Restart reminders-exporter service

    - name: Create a config directory
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.reminders-exporter"
        state: directory
        mode: '0755'

    - name: Copy config file
      ansible.builtin.copy:
        src: config.yml
        dest: "{{ ansible_facts['env']['HOME'] }}/.reminders-exporter/config.yml"
        mode: '0644'
      notify: Restart reminders-exporter service
