---

- name: Start apple-calendar-server
  block:
    - name: Tap custom repos
      check_mode: false
      community.general.homebrew_tap:
        name:
          - legnoh/etc

    - name: Install Brew packages
      when: not ansible_check_mode
      community.general.homebrew:
        name:
          - legnoh/etc/apple-calendar-server
        state: upgraded
      notify: Restart apple-calendar-server service

    - name: Create a config directory
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.apple-calendar-server"
        state: directory
        mode: '0755'

    - name: Copy config file
      ansible.builtin.template:
        src: config.yml.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/.apple-calendar-server/config.yml"
        mode: '0644'
      notify: Restart apple-calendar-server service
