---

- name: Start grafana-kiosk
  block:
    - name: Tap custom repos
      check_mode: false
      community.general.homebrew_tap:
        name: legnoh/etc

    - name: Install grafana-kiosk
      when: not ansible_check_mode
      community.general.homebrew:
        name: legnoh/etc/grafana-kiosk
        state: upgraded

    - name: Install google-chrome
      community.general.homebrew_cask:
        name: google-chrome
        state: upgraded

    - name: Check Playlist ID
      ansible.builtin.uri:
        url: http://localhost:3000/api/playlists
        force_basic_auth: true
        user: admin
        password: "{{ start_grafana_kiosk_grafana_admin_password }}"
        status_code: 200
        body_format: json
        return_content: true
      retries: 720 # 720 * 5 seconds = 1hour (60*60/5)
      delay: 5 # Every 5 seconds
      register: start_grafana_kiosk_grafana_playlist
      failed_when: start_grafana_kiosk_grafana_playlist.json[0].uid is not defined

    - name: Copy config file
      when: not ansible_check_mode
      ansible.builtin.template:
        src: .grafana-kiosk-config.yml.j2
        dest: "{{ ansible_facts['env']['HOME'] }}/.grafana-kiosk-config.yml"
        mode: '0644'

    - name: Start Service
      when: not ansible_check_mode
      community.general.homebrew_services:
        name: legnoh/etc/grafana-kiosk
        state: restarted
